<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Sopra Steria Demo Project Application Test">
    <test name="Demo Project Sopra Test">
         <classes>
             <class name="com.demoproject.testCases.PremierLeaguePageTest"/>
  <!--        <class name="com.demoproject.testCases.SportsHomePageTest"/>
              <class name="com.demoproject.testCases.FootballPageTest"/>
             <class name="com.demoproject.testCases.LeagueAndCupsPageTest"/>
  -->      
             
          </classes>
     </test> <!-- Test -->
</suite> <!-- Suite -->