<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Sopra Steria Demo Project Application Test">
    <listeners>
		<listener class-name="com.demoproject.ExtentReportListener.ExtentReporterNG" />
	</listeners>
	
    <test name="Demo Project Sopra Test">
         <classes>
             <class name="com.demoproject.testCases.PremierLeaguePageTest"/>
 
          </classes>
     </test> <!-- Test -->
</suite> <!-- Suite -->
